.fano-form-item-text,
.fano-form-item-colon,
.fano-form-item-label,
.fano-form-item-ctrl {
  display: inline-block;
}

.fano-form-item-colon {
  margin: 0 8px 0 2px;
}

.fano-form-item-label {
  width: 80px;
}

.fano-form-item-ctrl {
  width: 200px;
  :global {
    .ant-input-number,
    .ant-calendar-picker,
    .ant-time-picker {
      width: 100%;
    }
  }
}

.fano-form-item {
  color: #fff;
}

:global {
  .ant-form-item-required:before {
    content: '' !important;
    margin: 0 !important;
  }
  .ant-form-item-required:after {
    content: '' !important;
    margin: 0 !important;
  }
  .ant-form-item-label label:after {
    margin: 0 !important;
  }
  .ant-checkbox-wrapper {
    margin-left: 0px !important;
    margin-right: 8px !important;
  }
}

.fano-form-item-required-mark {
  display: inline-block;
  margin-right: 4px;
  font-family: SimSun;
  line-height: 1;
  font-size: 14px;
  color: #f5222d;
}

.fano-form-footer {
  padding: 10px 0;
  text-align: right;
  >button {
    margin-right: 10px;
  }
}

// xs
@media (max-width: 575px) {
  .fano-form-item-label {
    width: 100%;
    padding: 0 5px;
  }
  .fano-form-item-ctrl {
    width: 100%;
  }
  .fano-form-item {
    width: 100%;
    padding: 5px !important;
  }
  .fano-form-footer {
    >button {
      margin-right: 5px;
    }
  }
  :global {
    .ant-form-item {
      margin: 0 !important;
    }
    .ant-form-item-label {
      padding: 0 !important;
    }
  }
}

@media (max-width: 592px) {
  .fano-form-item-ctrl {
    width: 100%;
  }
}

@media(min-width: 768px) {
  .fano-form-item-ctrl {
    width: 280px;
  }
}

@media (min-width: 992px) {
  .fano-form-item-ctrl {
    width: 220px;
  }
}

@media (min-width: 1200px) {
  .fano-form-item-ctrl {
    width: 200px;
  }
}

@media (min-width: 1300px) {
  .fano-form-item-ctrl {
    width: 220px;
  }
}

@media (min-width: 1400px) {
  .fano-form-item-ctrl {
    width: 250px;
  }
}

@media (min-width: 1600px) {
  .fano-form-item-ctrl {
    width: 300px;
  }
}
